<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ibbl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.Deposite"></activity>
        <activity android:name=".Activity.DueList" />
        <activity android:name=".Activity.LoanApplicationShow" />
        <activity android:name=".Activity.DueColection" />
        <activity android:name=".Activity.AdminDesboard" />
        <activity android:name=".Activity.Comunication" />
        <activity android:name=".Activity.Application" />
        <activity android:name=".Activity.MemberAdd" />
        <activity android:name=".Activity.ProfitActivity" />
        <activity android:name=".Activity.Due" />
        <activity android:name=".Activity.YearProfit" />
        <activity android:name=".Activity.BalanceActivity" />
        <activity android:name=".Activity.DesboardAcitvity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>